<table>
	<tbody>
			<tr>
			<td>privet</td>
			<td>privet</td>
			<td>privet</td>
			<td>privet</td>
		</tr>
				<tr>
			<td>privet</td>
			<td>privet</td>
			<td>privet</td>
			<td>privet</td>
		</tr>
		<tr>
			<td colspan="2">privet</td>
			<td>privet</td>
			<td>privet</td>
		</tr>
		<tr>
			<td colspan="3">privet</td>
			<td>privet</td>
		</tr>
		<tr>
			<td>privet</td>
			<td>privet</td>
			<td>privet</td>
			<td>privet</td>
		</tr>
		<tr>
			<td>privet</td>
			<td>privet</td>
			<td>privet</td>
			<td>privet</td>
		</tr>
		<tr>
			<td colspan="4">privet</td>
		</tr>
	</tbody>
</table>