*{
margin: auto;
text-align:center;
}
input{
	outline: 0;
	border: 0;
}
.row{
background: url(../img/relaks.jpg);
background-position: center;
background-size: cover;
/*position: fixed;
height:100%;
width:100%;*/
}
.topBlock{
	border-bottom: 1px solid grey;
	background: #0000004f;
}
.typeSite, .buttons{
	width: 47%;
	display:inline-block;
	padding: 1%;
	margin: 0;
}
.buttons{
	text-align: right;
}
.typeSite{
	text-align: left;
}
.tupeSiteChekedRow{
	background: #ffffff85;
	width: 250px;
	border-radius: 10px;
	margin:0;
}
.chekedSites{
	width: 100px;
	display: inline-block;
	vertical-align: top;
	padding: 1%;
}
.typeSite input{
	width:20px;
	vertical-align: middle;
}
.button{
	width: 150px;
	padding:10px;
	margin: 0 auto;
	display: inline-block;
	background: blue;
	vertical-align: middle;
	color: white;
	cursor: pointer;
	border-radius: 20px;
}
.file{
	width: 45%;
	display: inline-block;
	vertical-align: top;
	border: 1px solid black;
	height:700px;
	margin:1%;
/*	overflow: hidden;
	overflowY: auto;*/
	outline: 0;
	background: white;
}
.fileTitle{
	position: absolute;
	width: 43%;
	text-align: center;
	font-size: 20px;
	background: blue;
	padding: 1%;
	color: white;
}
#result{
	text-align:center;
}
